.landing {
    margin: 0 25px;
}

.landing h2 {
    text-align: center;
    padding: 15px;
}

.landing p {
    text-align: center;
    margin-bottom: 10px;
}

.landing-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.landing button {
    font-size: 15px;
    background-color: #561643;
    border: 0;
    font-weight: bolder;
    color: #BAD4AA;
    border-radius: 200px;
    padding: 7px;
}

.landing-right-btn {
    margin-left: 10px;
}