.log-in-form {
    text-align: center;
}

.log-in-section .submit-btn {
    background-color: #561643;
    border: 0;
    font-weight: bolder;
    color: #BAD4AA;
    margin: 10px;
    border-radius: 200px;
    padding: 7px;
}

.log-in-section input {
    margin: 1px;
}

.log-in-section {
    border: 1px solid  #EBF5DF;
    width: 75%;
    margin: 15px auto;
}