.story {
    margin: auto 25px;
}

.story h2 {
    text-align: center;
    padding: 20px 0 5px;
}

.story h3 {
    text-align: center;
    padding: 20px 0 5px;
}

.story ul {
    padding: 0;
}

.story-edit-btn {
    margin: auto;
    display: block;
}

.new-something {
    margin: 15px auto;
    display: block;
}

.story-description {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}

.story a {
    text-decoration: none;
}

.summary {
    list-style: none;
    width: 100%;
    display: flex;
    color: black;
    word-wrap: break-word;
}

.summary .description {
    padding: 10px;
    border: solid 1px #EBF5DF;
    width: 60%;
}

.summary .title {
    border: solid 1px #EBF5DF;
    width: 40%;
    padding: 10px;
}

@media all and (min-width: 800px) {
    .story article {
        display: flex;
    }

    .story section {
        flex: 1;
        margin: 15px;
    }
}