header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #561643;
    border-bottom: 3px solid #561643;
    background-color: #EBF5DF;
}

h1 {
    padding: 10px;
    font-family: 'Londrina Outline', cursive;
    letter-spacing: 2.5px;
    font-size: 30px;
    color: black;
}