.story-item-li {
    margin-left: 25px;
    list-style: circle;
    color:  #561643;
}

.story-item h3 {
    color:  #561643;
    text-align: center;
    padding-bottom: 15px;
}

.story-item a {
    text-decoration: none;
}

.story-item h4 {
    text-decoration: underline;
}

.story-item .no-data {
    color: #515751;
    list-style: none;
}

.story-item {
    border: solid 1px  #561643;
    padding: 20px;
    margin: 5px;
}