.compare h2 {
    text-align: center;
    padding: 20px;
}

.compare .container {
    display: flex;
    flex-direction: row;
}

.compare article {
    border: solid 1px gray;
    padding: 10px;
    margin: 5px;
    width: 50%;
}