.edit-character {
    margin: auto 25px;
    text-align: center;
}

.edit-character h2 {
    margin: 15px;
}

.edit-character .grid {
    display: grid;
    grid-template-columns: 40% 50%;
    row-gap: 10px;
}

.edit-character .input {
    width: 100%;
}

.edit-character .buttons {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: auto;
}

.edit-character .submit-btn {
    background-color: #561643;
    border: 2px solid  #561643;
    font-weight: bolder;
    font-size: 15px;
    color:  #CFDECE;
    margin: 15px 2px;
    border-radius: 200px;
    padding: 7px;
    width: 85px;
    transition: 0.3s;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #CFDECE;
    color: #561643;
}

.edit-character .delete-form {
    border: 1px solid #561643;
    max-width: 600px;
    margin: auto;
}

.edit-character .delete-btn {
    margin: 15px;
}

.housemates-aside {
    font-style: italic;
    font-size: small;
    grid-column: span 2;
}

.edit-character textarea {
    margin: auto;
    width: 80%;
}

.edit-character label {
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
}

@media all and (min-width: 600px) {
    .edit-character .grid {
        grid-template-columns: 20% 80%;
    }
}