.new-story {
    text-align: center;
    padding: 20px;
}

.new-story .grid {
    display: grid;
    grid-template-columns: 40% 50%;
    row-gap: 10px;
}

.new-story label {
    text-align: right;
    margin-right: 15px;
}

.new-story-form {
    padding: 10px;
}

.new-story .submit-btn {
    background-color: #561643;
    border: 2px solid  #561643;
    font-weight: bolder;
    font-size: 15px;
    color:  #CFDECE;
    margin: 15px;
    transition: 0.3s;
    border-radius: 200px;
    padding: 7px;
}

@media all and (min-width: 600px) {
    .new-story .grid {
        grid-template-columns: 20% 80%;
    }
}