.sign-up-form {
text-align: center;}

.sign-up-section .submit-btn {
    background-color: #561643;
    border: 0;
    font-weight: bolder;
    color: #BAD4AA;
    margin: 10px;
    border-radius: 200px;
    padding: 7px;
}

.sign-up-section input {
    margin: 1px;
}

.sign-up-section {
    border: 1px solid  #EBF5DF;
    width: 75%;
    margin: 15px auto;
}