.new-character {
    margin: auto 25px;
    text-align: center;
}

.new-character h2 {
    margin: 15px;
}

.new-character .submit-btn {
    background-color: #561643;
    border: 2px solid  #561643;
    font-weight: bolder;
    font-size: 15px;
    color:  #CFDECE;
    margin: 15px 2px;
    border-radius: 200px;
    padding: 7px;
    transition: 0.3s;
    width: 85px;
}

.new-character .buttons {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: auto;
}

.new-character .grid {
    display: grid;
    grid-template-columns: 40% 50%;
    row-gap: 10px;
}

.new-character .input {
    width: 100%;
}

.housemates-aside {
    font-style: italic;
    font-size: small;
    grid-column: span 2;
}

.new-character-form {
    padding: 10px;
}

@media all and (min-width: 600px) {
    .new-character .grid {
        grid-template-columns: 20% 80%;
    }
}