.admin h2 {
    text-align: center;
    padding: 20px;
}

.admin li {
    border: solid 1px gray;
    padding: 10px;
    margin: 5px;
}

.admin button {
    background-color: lightgray;
    margin: 10px;
}