* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #BAD4AA;
}

button:hover {
    cursor: pointer;
}

button {
    background-color: #561643;
    border: 0;
    font-weight: bolder;
    color: #BAD4AA;
    margin: 10px;
    border-radius: 200px;
    padding: 7px;
}