* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #CFDECE;
}

button:hover {
    cursor: pointer;
}

button {
    font-size: 15px;
    background-color: #561643;
    border: 0;
    font-weight: bolder;
    color: #BAD4AA;
    border-radius: 200px;
    padding: 7px;
}